<!doctype html>
<html>
  <head>
    <title><%=siteName%></title>
  </head>
  <body>
    <h1>About <%=siteName%></h1>
    <p>The revision hub for all whom are interested in the purr~suit of knowledge!</p>
    <p>We offer mathematic revision materials at GCSE level!</p>
  </body>
</html>
