<!doctype html>
<html>
    <head>
        <title><%= siteName %></title>
        <link rel="stylesheet"  type="text/css" href="/main.css" />
    </head>
    <body>
        <h1>Game Over, <%= username %>!</h1>
        <h2>Your final score is <%= question_id %>/24</h2>
        
        <br>
        <a href="/gauntlet">Try Again?</a>
        <br>
        <a href="/">Return to Home</a>
    </body>
</html>