<!doctype html>
<html>
    <head>
        <title><%= siteName %></title>
    </head>
    <body>
        <h1>Incorrect Answer</h1>
        <p>Sorry, that's not the correct answer. Please try again.</p>
        
        <a href="/question/<%= question_id %>">Retry this question</a>
        <br>
        <a href="/search">Search for another question</a>
        <br>
        <a href="/">Home</a>
    </body>
</html>