<!doctype html>
<html>
  <head>
    <title><%=siteName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%=siteName%>!</h1>
    <p>Want to sharpen your claws on these GCSE maths subjects? Here's what we have our paws on:</p>
    <p><a href="about">About <%=siteName%></a></p>
    <p><a href="search">Find the subject you wanna cover!</a></p>
    <p><a href="gauntlet">Take on our Gauntlet, rise above all!</a></p>
    </body>
</html>
