<!doctype html>
<html>
  <head>
    <title><%=siteName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Meow~come to <%=siteName%>!</h1>
    <h2>Wanna sharpen your claws on these subjects? Here's what we have our paws on:</h2>
    <p><a href="about">About <%=siteName%></a></p>
    <p><a href="search">Find the subject you wanna cover!</a></p>
    </body>
</html>
